{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-md-2">
        <button class="btn-done btn-lg btn-light" style="clear: both; margin-left: -10px">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}


